<a href="https://colab.research.google.com/github/mikulr/deep_learning/blob/main/AlphabetSoupCharity_Optimzation_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.decomposition import PCA
#  Import and read the charity_data.csv.
url= "https://raw.githubusercontent.com/mikulr/deep_learning/main/Resources/charity_data.csv"
application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

First Red Flag= "Special Considerations"

In [2]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [3]:
specials = application_df[application_df.SPECIAL_CONSIDERATIONS == 'Y']
specials
# no easily apparent patterns, but as name says it already has something different about it so lets drop it just to be safe

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
1374,201444113,PTA TEXAS CONGRESS,T3,Independent,C2000,Preservation,Association,1,0,Y,5000,0
2928,205918776,THE STEWART FOUNDATION INC,T3,Independent,C1000,Preservation,Trust,0,25000-99999,Y,7287,1
6056,263885231,MT OLIVE OUTREACH CENTER OF STOCKBRIDGE INC,T3,Independent,C1700,Preservation,Trust,1,0,Y,5000,1
6805,270626168,SUPPORTING OTHERS ACHIEVE RECOVERY INC,T3,Independent,C1000,Preservation,Trust,1,25000-99999,Y,5000,1
7747,272700404,MERRITT ISLAND LACROSSE CLUB INC,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,0
9437,311731990,GREEN AND BLACK BAND PARENTS ASSOCIATION,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,1
9941,330508577,HOUSING OUR PEOPLE ECONOMICALLY COMMUNITY DEVE...,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,53897,0
12318,436097821,BUFFALO MEMORIAL POST 4080 VFW INC,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,7416,1
13998,455155852,HUNTERS CREEK ELEMENTARY DADS CLUB,T3,Independent,C1200,Preservation,Trust,1,0,Y,5000,0
14575,460943232,INSTITUTE OF SERVICE-LEARNING POWER & INTERSEC...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,Y,15503,0
15229,462211796,URBAN BICYCLE FOOD MINISTRY,T3,Independent,C1000,Preservation,Trust,1,10000-24999,Y,5000,1
15453,462662917,HATCHER WHEATLEY BENEFIT INVITATIONAL INC,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,1
15732,463155753,ROCKY MOUNTAIN FOREST SERVICE ASSOCIATION,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,25615,1
16114,463768293,SOUTH CENTRAL IRISH WOLFHOUND CLUB INC,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,12084,1
16500,464413988,WINGS OF GRACE NONPROFIT CORPORATION,T3,Independent,C1200,Preservation,Trust,1,0,Y,5000,1
17641,471476312,PATRICK J AUSTIN MINISTRIES INC,T3,Independent,C1200,Preservation,Trust,1,0,Y,5000,0
17949,472021678,NATIONAL LATINO LAW ENFORCEMENT OR GANIZATION ...,T3,Independent,C1000,Preservation,Association,1,0,Y,5000,0
18013,472151416,LEGACY CHRISTIAN ACADEMY INC,T3,Independent,C2000,Preservation,Trust,1,1-9999,Y,5000,0
18334,472764062,SI JAK NFP INC,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,6618,1
18618,473283474,JERRY JEROME BROWN JR SPARK THE LEADERSHIP FOU...,T3,Independent,C1000,Preservation,Trust,1,0,Y,5000,1
19649,475036156,BRAIN INJURY PRODUCTIONS INC,T3,Independent,C1000,Preservation,Association,1,0,Y,5000,1
19746,475203363,LAW ENFORCEMENT AGAINST DESTRUCTIVE DECISIONS INC,T3,Independent,C1000,Preservation,Trust,1,1-9999,Y,5000,1
23752,680469172,LESTER HUGHES MINISTRIES INTERNATIONAL,T3,Independent,C7000,Preservation,Trust,1,0,Y,5000,1
23890,690012547,MYSTIC ORDER OF JAZZ OBSESSED INC,T3,Independent,C1000,Preservation,Trust,1,10000-24999,Y,5000,1
25491,746104793,PAN AMERICAN ROUND TABLE OF TEXAS,T3,Independent,C2000,Preservation,Association,1,0,Y,5000,0
30607,870658266,UTAH ASSOCIATION OF OCCUPATIONAL HEALTH NURSES,T3,Independent,C1200,Preservation,Association,1,0,Y,5000,1
32184,912000857,OAK HARBOR ELEMENTARY PTA,T3,Independent,C2000,Preservation,Trust,1,0,Y,5000,0

In [4]:
application_df = application_df[application_df.SPECIAL_CONSIDERATIONS == 'N']
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' and STATUS and 'SPECIAL_CONSIDERATIONS'
application_df=application_df.drop(columns={'EIN','NAME', "STATUS", 'SPECIAL_CONSIDERATIONS'})

In [6]:
# Determine the number of unique values in each column.
counts = application_df.nunique()
counts

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8741
IS_SUCCESSFUL          2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_count= application_df['APPLICATION_TYPE'].value_counts()

app_count

T3     27010
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count <15].index)
# application_types_to_replace

In [9]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27010
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_count= application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17309
C2000     6070
C1200     4833
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count2=application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]
# class_count2

In [12]:
classifications_to_replace = list(class_count[class_count < 50].index)
# classifications_to_replace

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17309
C2000     6070
C1200     4833
C3000     1918
C2100     1883
C7000      776
Other      391
C1700      286
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [14]:
recounts = application_df.nunique()
recounts

APPLICATION_TYPE      13
AFFILIATION            6
CLASSIFICATION        16
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8741
IS_SUCCESSFUL          2
dtype: int64

In [24]:
# Create Filter for outliers in the ASK_AMT column
q = application_df['ASK_AMT'].quantile(0.90)

no_out= application_df[application_df['ASK_AMT'] < q]

In [25]:
recounts2 = no_out.nunique()
recounts2

APPLICATION_TYPE      13
AFFILIATION            6
CLASSIFICATION        16
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             5321
IS_SUCCESSFUL          2
dtype: int64

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies= pd.get_dummies(no_out)
app_dummies

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34293,5000,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
34294,5000,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [29]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop(["IS_SUCCESSFUL"], axis="columns")
y = app_dummies["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [30]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# Input layer
nn_model.add(tf.keras.layers.Dense(units=70, activation="tanh", input_dim=54))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation="tanh"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation="tanh"))

# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=25, activation="tanh"))

# Fifth hidden layer
nn_model.add(tf.keras.layers.Dense(units=25, activation="tanh"))

# Sixth hidden layer
nn_model.add(tf.keras.layers.Dense(units=25, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 70)                3850

 dense_17 (Dense)            (None, 50)                3550

 dense_18 (Dense)            (None, 50)                2550

 dense_19 (Dense)            (None, 50)                2550

 dense_20 (Dense)            (None, 25)                1275

 dense_21 (Dense)            (None, 25)                650

 dense_22 (Dense)            (None, 25)                650

 dense_23 (Dense)            (None, 1)                 26

=================================================================
Total params: 15,101
Trainable params: 15,101
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
723/723 [==============================] - 3s 3ms/step - loss: 0.5602 - accuracy: 0.7305
Epoch 2/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7379
Epoch 3/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7397
Epoch 4/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7404
Epoch 5/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7412
Epoch 6/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7416
Epoch 7/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7416
Epoch 8/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7427
Epoch 9/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7433
Epoch 10/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7437
Epoch 11/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7432
Epoch 12/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7429
Epoch 13/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7447
Epoch 14/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7452
Epoch 15/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7451
Epoch 16/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7455
Epoch 17/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5275 - accuracy: 0.7454
Epoch 18/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7461
Epoch 19/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5261 - accuracy: 0.7464
Epoch 20/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5256 - accuracy: 0.7477
Epoch 21/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5250 - accuracy: 0.7471
Epoch 22/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5251 - accuracy: 0.7469
Epoch 23/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5240 - accuracy: 0.7485
Epoch 24/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5245 - accuracy: 0.7478
Epoch 25/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5230 - accuracy: 0.7469
Epoch 26/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5232 - accuracy: 0.7458
Epoch 27/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5232 - accuracy: 0.7471
Epoch 28/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5222 - accuracy: 0.7474
Epoch 29/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5218 - accuracy: 0.7481
Epoch 30/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5215 - accuracy: 0.7477
Epoch 31/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5218 - accuracy: 0.7472
Epoch 32/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5210 - accuracy: 0.7492
Epoch 33/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5211 - accuracy: 0.7484
Epoch 34/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5211 - accuracy: 0.7493
Epoch 35/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5221 - accuracy: 0.7482
Epoch 36/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5208 - accuracy: 0.7486
Epoch 37/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5190 - accuracy: 0.7492
Epoch 38/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5189 - accuracy: 0.7502
Epoch 39/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5196 - accuracy: 0.7492
Epoch 40/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5181 - accuracy: 0.7506
Epoch 41/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5189 - accuracy: 0.7498
Epoch 42/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5187 - accuracy: 0.7498
Epoch 43/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5185 - accuracy: 0.7507
Epoch 44/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5184 - accuracy: 0.7503
Epoch 45/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5177 - accuracy: 0.7494
Epoch 46/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5185 - accuracy: 0.7514
Epoch 47/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5172 - accuracy: 0.7515
Epoch 48/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5174 - accuracy: 0.7510
Epoch 49/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5175 - accuracy: 0.7501
Epoch 50/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5175 - accuracy: 0.7499
Epoch 51/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5162 - accuracy: 0.7524
Epoch 52/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5160 - accuracy: 0.7510
Epoch 53/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5172 - accuracy: 0.7513
Epoch 54/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5157 - accuracy: 0.7519
Epoch 55/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5153 - accuracy: 0.7519
Epoch 56/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5172 - accuracy: 0.7500
Epoch 57/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5153 - accuracy: 0.7512
Epoch 58/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5156 - accuracy: 0.7526
Epoch 59/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5154 - accuracy: 0.7512
Epoch 60/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5153 - accuracy: 0.7529
Epoch 61/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5155 - accuracy: 0.7521
Epoch 62/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5149 - accuracy: 0.7522
Epoch 63/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5149 - accuracy: 0.7517
Epoch 64/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5155 - accuracy: 0.7516
Epoch 65/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5146 - accuracy: 0.7520
Epoch 66/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5153 - accuracy: 0.7519
Epoch 67/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5139 - accuracy: 0.7517
Epoch 68/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5144 - accuracy: 0.7524
Epoch 69/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5146 - accuracy: 0.7526
Epoch 70/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5142 - accuracy: 0.7528
Epoch 71/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5147 - accuracy: 0.7521
Epoch 72/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5143 - accuracy: 0.7523
Epoch 73/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5137 - accuracy: 0.7525
Epoch 74/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5124 - accuracy: 0.7523
Epoch 75/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5142 - accuracy: 0.7527
Epoch 76/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5127 - accuracy: 0.7531
Epoch 77/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5131 - accuracy: 0.7520
Epoch 78/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5128 - accuracy: 0.7534
Epoch 79/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5135 - accuracy: 0.7524
Epoch 80/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5129 - accuracy: 0.7528
Epoch 81/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5123 - accuracy: 0.7523
Epoch 82/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5127 - accuracy: 0.7523
Epoch 83/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5132 - accuracy: 0.7533
Epoch 84/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5120 - accuracy: 0.7529
Epoch 85/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5136 - accuracy: 0.7524
Epoch 86/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5137 - accuracy: 0.7526
Epoch 87/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5118 - accuracy: 0.7537
Epoch 88/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5120 - accuracy: 0.7536
Epoch 89/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5118 - accuracy: 0.7533
Epoch 90/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5136 - accuracy: 0.7527
Epoch 91/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5125 - accuracy: 0.7536
Epoch 92/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5136 - accuracy: 0.7528
Epoch 93/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5126 - accuracy: 0.7533
Epoch 94/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5121 - accuracy: 0.7518
Epoch 95/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5119 - accuracy: 0.7537
Epoch 96/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5119 - accuracy: 0.7531
Epoch 97/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5123 - accuracy: 0.7527
Epoch 98/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5123 - accuracy: 0.7525
Epoch 99/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5121 - accuracy: 0.7533
Epoch 100/100
723/723 [==============================] - 2s 3ms/step - loss: 0.5126 - accuracy: 0.7522

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

241/241 - 0s - loss: 0.5618 - accuracy: 0.7439 - 495ms/epoch - 2ms/step
Loss: 0.5617788434028625, Accuracy: 0.7438724040985107

In [35]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=25,
        max_value=55,
        step=10), activation=activation, input_dim=54))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 12)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=71,
            step=10),
            activation=activation))
    
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn

In [36]:
pip install keras_tuner

Collecting keras_tuner
  Downloading keras_tuner-1.1.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 5.4 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (21.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (5.5.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (2.8.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (2.23.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.21.6)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (1.0.18)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (5.2.1.post0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (4.4.2)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras_tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras_tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (2021.10.8)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.35.0)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (3.17.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.6.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (3.3.7)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.37.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.46.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.4.6)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras_tuner) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras_tuner) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras_tuner) (3.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (3.2.0)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.2 kt-legacy-1.0.4

In [37]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2, 
    overwrite=True)

In [38]:
tuner.search(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test), callbacks=[tf.keras.callbacks.EarlyStopping("val_accuracy", patience=3)])

Trial 180 Complete [00h 00m 31s]
val_accuracy: 0.7488003969192505

Best val_accuracy So Far: 0.7520425319671631
Total elapsed time: 00h 50m 11s
INFO:tensorflow:Oracle triggered exit

In [39]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 45,
 'num_layers': 4,
 'tuner/bracket': 2,
 'tuner/epochs': 50,
 'tuner/initial_epoch': 17,
 'tuner/round': 2,
 'tuner/trial_id': '0069',
 'units_0': 31,
 'units_1': 51,
 'units_10': 21,
 'units_11': 31,
 'units_2': 21,
 'units_3': 21,
 'units_4': 51,
 'units_5': 11,
 'units_6': 51,
 'units_7': 51,
 'units_8': 51,
 'units_9': 31}

In [44]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

241/241 - 1s - loss: 0.5377 - accuracy: 0.7520 - 565ms/epoch - 2ms/step
Loss: 0.5377137660980225, Accuracy: 0.7520425319671631

In [45]:
# Export our model to HDF5 file
best_model.save("Alphabet_Soup_Chartity.h5")